# Introduction to Python  

## [Python Built-in Data Types](https://docs.python.org/3/library/stdtypes.html)

![](../Data/Figs/datatypes.png)

### What are types?

#### [Everything in Python is an "Object"](https://towardsdatascience.com/the-most-important-python-concept-that-you-need-to-understand-985b98bbb84). And each type of Object has its own properties.  
#### These properties are called "methods" (a kind of "inner functions")  and "attributes"

## Python data types

+ Text Type: _str_  
+ Numeric Types: _int_, _float_, _complex_  
+ Sequence Types: _list_, _tuple_, _range_  
+ Mapping Type: _dict_  
+ Set Types: _set_, _frozenset_  
+ Boolean Type: _bool_  
+ Binary Types: _bytes_, _bytearray_, _memoryview_

We can inspect the type of an object typing the command:  
+ _type(object)_

#### Through this notebook we will use many ["_bultin_" functions](https://docs.python.org/3/library/functions.html):   
+ _type_
+ _dir_
+ _print_
+ _len_

#### And also these [Expressions](https://docs.python.org/3/reference/expressions.html) / [Boolean operators](https://docs.python.org/3/reference/expressions.html#boolean-operations)
+ _or_
+ _and_ 
+ _in_ 
+ _not_
+ _is_

#### And more.  

#### We will also use the [type creation / conversion primitives](https://www.tutorialspoint.com/data-type-conversion-in-python):    
+ _int_
+ _float_
+ _complex_
+ _list_
+ _str_
+ _dict_
+ _bool_
+ _tuple_
+ _set_ 
+ _chr_
+ _ord_ 
+ _ord_
+ _chr_
+ _hex_
+ _bin_
+ _oct_

## Numeric Types:
In Python 3.x, the numeric types are divided in three classes: integers (int), floating point numbers (float) and complex numbers (complex).

In [1]:
a = 12

Let's use one of the ["_bultin_" functions](https://docs.python.org/3/library/functions.html) to guess a variable type:

In [2]:
type(a)

int

In [3]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [4]:
b = 2.7

In [5]:
type(b)

float

Let's check the methods using instrospection:

In [6]:
dir(b)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [7]:
b.hex()

'0x1.599999999999ap+1'

In [8]:
b.is_integer()  #method that returns True or False, depending if the float being integer (in the mathematical sense)

False

In [9]:
d = 13.0

In [10]:
type(d)

float

In [11]:
d.is_integer()

True

In [12]:
c = 3 + 1j

In [1]:
dir(c)

NameError: name 'c' is not defined

In [14]:
type(c)

complex

In [15]:
c.conjugate()

(3-1j)

#### Changing basis

In [16]:
x = 0x32 # Hex
print(x)
print(type(x))

50
<class 'int'>

In [17]:
hex(50)

'0x32'

In [18]:
y = 0b111110001 #Binary
print(y)

497

In [19]:
bin(497)

'0b111110001'

In [20]:
z = 0o777321  #Octal
print(z)

261841

In [21]:
oct(261841)

'0o777321'

#### Binary operations _and_ (&) and _or_ (|)

In [22]:
bin(0b111000 & 0b101010)

'0b101000'

In [23]:
bin(0b111000 | 0b101010)

'0b111010'

#### [Numeric Types Operations](https://docs.python.org/3/library/stdtypes.html)

<table class="docutils align-default">
<colgroup>
<col style="width: 25%" />
<col style="width: 40%" />
<col style="width: 11%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
<th class="head"><p>Full documentation</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">+</span> <span class="pre">y</span></code></p></td>
<td><p>sum of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">-</span> <span class="pre">y</span></code></p></td>
<td><p>difference of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">*</span> <span class="pre">y</span></code></p></td>
<td><p>product of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p>quotient of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">//</span> <span class="pre">y</span></code></p></td>
<td><p>floored quotient of <em>x</em> and
<em>y</em></p></td>
<td><p>(1)</p></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">%</span> <span class="pre">y</span></code></p></td>
<td><p>remainder of <code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p>(2)</p></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">-x</span></code></p></td>
<td><p><em>x</em> negated</p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">+x</span></code></p></td>
<td><p><em>x</em> unchanged</p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">abs(x)</span></code></p></td>
<td><p>absolute value or magnitude of
<em>x</em></p></td>
<td></td>
<td><p><a class="reference internal" href="functions.html#abs" title="abs"><code class="xref py py-func docutils literal notranslate"><span class="pre">abs()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">int(x)</span></code></p></td>
<td><p><em>x</em> converted to integer</p></td>
<td><p>(3)(6)</p></td>
<td><p><a class="reference internal" href="functions.html#int" title="int"><code class="xref py py-func docutils literal notranslate"><span class="pre">int()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">float(x)</span></code></p></td>
<td><p><em>x</em> converted to floating point</p></td>
<td><p>(4)(6)</p></td>
<td><p><a class="reference internal" href="functions.html#float" title="float"><code class="xref py py-func docutils literal notranslate"><span class="pre">float()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">complex(re,</span> <span class="pre">im)</span></code></p></td>
<td><p>a complex number with real part
<em>re</em>, imaginary part <em>im</em>.
<em>im</em> defaults to zero.</p></td>
<td><p>(6)</p></td>
<td><p><a class="reference internal" href="functions.html#complex" title="complex"><code class="xref py py-func docutils literal notranslate"><span class="pre">complex()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">c.conjugate()</span></code></p></td>
<td><p>conjugate of the complex number
<em>c</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">divmod(x,</span> <span class="pre">y)</span></code></p></td>
<td><p>the pair <code class="docutils literal notranslate"><span class="pre">(x</span> <span class="pre">//</span> <span class="pre">y,</span> <span class="pre">x</span> <span class="pre">%</span> <span class="pre">y)</span></code></p></td>
<td><p>(2)</p></td>
<td><p><a class="reference internal" href="functions.html#divmod" title="divmod"><code class="xref py py-func docutils literal notranslate"><span class="pre">divmod()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">pow(x,</span> <span class="pre">y)</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
<td><p>(5)</p></td>
<td><p><a class="reference internal" href="functions.html#pow" title="pow"><code class="xref py py-func docutils literal notranslate"><span class="pre">pow()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">**</span> <span class="pre">y</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
<td><p>(5)</p></td>
<td></td>
</tr>
</tbody>
</table>

In [24]:
a = 23.
print(type(a))

<class 'float'>

In [25]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [26]:
c = a + b
print(type(c))

<class 'complex'>

### Logic Operations  

<table class="docutils align-default">
<colgroup>
<col style="width: 32%" />
<col style="width: 68%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Meaning</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;</span></code></p></td>
<td><p>strictly less than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;=</span></code></p></td>
<td><p>less than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;</span></code></p></td>
<td><p>strictly greater than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;=</span></code></p></td>
<td><p>greater than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">==</span></code></p></td>
<td><p>equal</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">!=</span></code></p></td>
<td><p>not equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">is</span></code></p></td>
<td><p>object identity</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">is</span> <span class="pre">not</span></code></p></td>
<td><p>negated object identity</p></td>
</tr>
</tbody>
</table>

In [27]:
c = 2.5
d = 4

print(c > d)

False

In [28]:
type(c > d)

bool

In [29]:
c = 2.5
d = 4

print(c <= d)

True

In [30]:
c = 1 + 3j
d = 2 + 4j

# print(c > d)  # not supported

In [31]:
print(c == d)

False

In [32]:
print(d != c)

True

## Type "list"  [x,y,z]
+ Lists are ordered sequences of itens, not necessarily of the same type.  
+ Lists are created with square brackets, and each item is separated by commas.  
+ Lists are widely used, and are considered to be a mutable type, i.e. you can change their elements.

In [33]:
my_list = [1,2,2, [2,3,4], 3.9, 4, 2.8, 'a string']

In [34]:
my_list

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'a string']

In [35]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
print(my_list)

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'a string']

#### Acessing list elements (the first elements has index 0)

In [37]:
my_list[7]

'a string'

In [38]:
print(my_list[3])

[2, 3, 4]

In [39]:
print(my_list[-1])

a string

#### Slicing

In [40]:
print(my_list[2:6])

[2, [2, 3, 4], 3.9, 4]

In [41]:
print(my_list[5:])

[4, 2.8, 'a string']

In [42]:
print(my_list[:3])

[1, 2, 2]

In [43]:
my_list[3]

[2, 3, 4]

In [44]:
print(my_list[3][2])

4

In [45]:
print(my_list[-1][-3:])

ing

#### Adding new elements

In [46]:
my_new_list = [2,6,3,8]

In [47]:
my_new_list.append(23)

In [48]:
print(my_new_list)

[2, 6, 3, 8, 23]

#### Removing elements from a list

In [49]:
my_new_list.pop()

23

In [50]:
print(my_new_list)

[2, 6, 3, 8]

In [51]:
my_new_list.pop()

8

In [52]:
print(my_new_list)

[2, 6, 3]

#### Inserting elements (append, extend, insert)

In [53]:
print(my_new_list)

[2, 6, 3]

In [54]:
my_new_list.append(4)

In [55]:
print(my_new_list)

[2, 6, 3, 4]

In [56]:
my_new_list.extend([0,7,3])

In [57]:
print(my_new_list)

[2, 6, 3, 4, 0, 7, 3]

In [58]:
my_new_list.append([9,9])

In [59]:
my_new_list

[2, 6, 3, 4, 0, 7, 3, [9, 9]]

In [60]:
my_new_list.insert(2,5678)

In [61]:
print(my_new_list)

[2, 6, 5678, 3, 4, 0, 7, 3, [9, 9]]

In [62]:
my_new_list.pop()

[9, 9]

In [63]:
my_new_list.sort() #sorting elements permanently
print(my_new_list)

[0, 2, 3, 3, 4, 6, 7, 5678]

In [64]:
list_from_string = list('my favorite string')
list_from_string

['m',
 'y',
 ' ',
 'f',
 'a',
 'v',
 'o',
 'r',
 'i',
 't',
 'e',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [65]:
list_from_string.sort()
print(list_from_string)

[' ', ' ', 'a', 'e', 'f', 'g', 'i', 'i', 'm', 'n', 'o', 'r', 'r', 's', 't', 't', 'v', 'y']

In [66]:
list_from_string.count('i')

2

In [67]:
list_from_string.index('g')

5

In [68]:
len(list_from_string) #len() returns the size of an object

18

In [69]:
list_from_string.reverse()
print(list_from_string)

['y', 'v', 't', 't', 's', 'r', 'r', 'o', 'n', 'm', 'i', 'i', 'g', 'f', 'e', 'a', ' ', ' ']

## Type "String":
+ Strings are ordered sequences of the same type (characters).  
+ Strings are created with single quotes, double quotes and even "triple quotes".  
+ Strings are used everywhere in information processing, and are considered to be a immutable type, i.e. you cannot change their elements after the creation.  

![](../Data/Figs/notmytype.png)

In [70]:
s1 = 'a new string'
s2 = "another string"

In [71]:
s3 = 'my string"  #error

SyntaxError: EOL while scanning string literal (3180237502.py, line 1)

In [72]:
print(s1)

a new string

In [73]:
type(s1)

str

In [74]:
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [75]:
print(s2)

another string

In [76]:
s3 = "let's go to the classroom"  #when to use quotes in a smart way
s3

"let's go to the classroom"

In [77]:
s4 = 'But what if I have simple quotes (\') e and double quotes(")'
print(s4)

But what if I have simple quotes (') e and double quotes(")

In [206]:
s5 = 'let\'s not stress'
print(s5)

let's not stress

#### Concatenating strings

In [79]:
s3 = s1 + ', ' + s2  #operator polimorphism
print(s3)

a new string, another string

In [80]:
print('The book' + ' ' + 'is on' + ' ' + 'the table')

The book is on the table

#### Multiline strings

In [81]:
s6 = "The COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic \
of coronavirus disease 2019 (COVID‑19), caused by severe acute respiratory syndrome coronavirus 2 \
(SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World \
Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 \
January 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19\
have been reported in more than 188 countries and territories, resulting in more than 667,000 deaths; \
more than 9.96 million people have recovered."

In [82]:
print(s6)

The COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic of coronavirus disease 2019 (COVID‑19), caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19have been reported in more than 188 countries and territories, resulting in more than 667,000 deaths; more than 9.96 million people have recovered.

In [83]:
s6

'The COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic of coronavirus disease 2019 (COVID‑19), caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19have been reported in more than 188 countries and territories, resulting in more than 667,000 deaths; more than 9.96 million people have recovered.'

In [84]:
s7 = '''
The COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic
of coronavirus disease 2019\t(COVID‑19), caused by severe acute respiratory syndrome coronavirus 2
(SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World
Health Organization declared the outbreak a Public Health Emergency of International Concern on 30
January 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19
have been reported in more than 188 countries and territories, resulting in more than 667,000 deaths;
more than 9.96 million people have recovered.
'''

In [85]:
print(s7)

The COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic
of coronavirus disease 2019	(COVID‑19), caused by severe acute respiratory syndrome coronavirus 2
(SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World
Health Organization declared the outbreak a Public Health Emergency of International Concern on 30
January 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19
have been reported in more than 188 countries and territories, resulting in more than 667,000 deaths;
more than 9.96 million people have recovered.

In [86]:
s7

'\nThe COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic\nof coronavirus disease 2019\t(COVID‑19), caused by severe acute respiratory syndrome coronavirus 2\n(SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World\nHealth Organization declared the outbreak a Public Health Emergency of International Concern on 30\nJanuary 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19\nhave been reported in more than 188 countries and territories, resulting in more than 667,000 deaths;\nmore than 9.96 million people have recovered.\n'

In [87]:
s8 = 'one line \nanother line'
print(s8)

one line
another line

#### How many times an element appear?

In [88]:
s8.count('o')

2

#### Modifying strings (hint: we have to recreate them)

In [89]:
s9 = s7.replace('a','@')

In [90]:
print(s9)

The COVID‑19 p@ndemic, @lso known @s the coron@virus p@ndemic, is @n ongoing glob@l p@ndemic
of coron@virus dise@se 2019	(COVID‑19), c@used by severe @cute respir@tory syndrome coron@virus 2
(SARS‑CoV‑2). The outbre@k w@s first identified in December 2019 in Wuh@n, Chin@. The World
He@lth Org@niz@tion decl@red the outbre@k @ Public He@lth Emergency of Intern@tion@l Concern on 30
J@nu@ry 2020 @nd @ p@ndemic on 11 M@rch. As of 30 July 2020, more th@n 17 million c@ses of COVID‑19
h@ve been reported in more th@n 188 countries @nd territories, resulting in more th@n 667,000 de@ths;
more th@n 9.96 million people h@ve recovered.

In [91]:
s7

'\nThe COVID‑19 pandemic, also known as the coronavirus pandemic, is an ongoing global pandemic\nof coronavirus disease 2019\t(COVID‑19), caused by severe acute respiratory syndrome coronavirus 2\n(SARS‑CoV‑2). The outbreak was first identified in December 2019 in Wuhan, China. The World\nHealth Organization declared the outbreak a Public Health Emergency of International Concern on 30\nJanuary 2020 and a pandemic on 11 March. As of 30 July 2020, more than 17 million cases of COVID‑19\nhave been reported in more than 188 countries and territories, resulting in more than 667,000 deaths;\nmore than 9.96 million people have recovered.\n'

#### Finding substrings

In [92]:
print(s7.find('virus'))

48

In [93]:
print(s4.find('bacteria'))

-1

#### Accessing elements and slicing

In [94]:
s10 = "A brand new string to play"
s10[6]

'd'

In [95]:
s10[12:]

'string to play'

In [96]:
s10[s10.find('string'):s10.find('string')+len('string')]

'string'

#### A little more elegantly...

In [97]:
begin = s10.find('string')
end = s10.find('play')+len('play')
s10[begin:end]

'string to play'

In [98]:
c = str(12)
d = '12'
c + d

'1212'

In [99]:
c.isdigit()

True

In [100]:
'thirty five'.isdigit()

False

#### Checking the ASCII/Unicode representation of characters

In [101]:
ord('A')

65

In [102]:
chr(65)

'A'

#### Printing hints

In [103]:
my_string = "one small text"

In [104]:
print(my_string) #, end="\n")
print(my_string)
print(my_string, end=" ")
print(my_string)

one small text
one small text
one small text one small text

In [105]:
print(my_string)
print(my_string, my_string, my_string, sep=" separated ")

one small text
one small text separated one small text separated one small text

#### The useful module "string"

In [106]:
import string

In [107]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [108]:
for punct in ['.','?','!']:
    s9 = s9.replace(punct, '*****')
print(s9)

The COVID‑19 p@ndemic, @lso known @s the coron@virus p@ndemic, is @n ongoing glob@l p@ndemic
of coron@virus dise@se 2019	(COVID‑19), c@used by severe @cute respir@tory syndrome coron@virus 2
(SARS‑CoV‑2)***** The outbre@k w@s first identified in December 2019 in Wuh@n, Chin@***** The World
He@lth Org@niz@tion decl@red the outbre@k @ Public He@lth Emergency of Intern@tion@l Concern on 30
J@nu@ry 2020 @nd @ p@ndemic on 11 M@rch***** As of 30 July 2020, more th@n 17 million c@ses of COVID‑19
h@ve been reported in more th@n 188 countries @nd territories, resulting in more th@n 667,000 de@ths;
more th@n 9*****96 million people h@ve recovered*****

In [109]:
s9.split('*****')

['\nThe COVID‑19 p@ndemic, @lso known @s the coron@virus p@ndemic, is @n ongoing glob@l p@ndemic\nof coron@virus dise@se 2019\t(COVID‑19), c@used by severe @cute respir@tory syndrome coron@virus 2\n(SARS‑CoV‑2)',
 ' The outbre@k w@s first identified in December 2019 in Wuh@n, Chin@',
 ' The World\nHe@lth Org@niz@tion decl@red the outbre@k @ Public He@lth Emergency of Intern@tion@l Concern on 30\nJ@nu@ry 2020 @nd @ p@ndemic on 11 M@rch',
 ' As of 30 July 2020, more th@n 17 million c@ses of COVID‑19\nh@ve been reported in more th@n 188 countries @nd territories, resulting in more th@n 667,000 de@ths;\nmore th@n 9',
 '96 million people h@ve recovered',
 '\n']

In [110]:
s11 = 'a string'
s11 += ' added to another'

In [111]:
print(s11)

a string added to another

## Type Boolean (True, False):  

+ A boolean is used to create logic statements, or appear as a result of logical tests  
+ Bolean objetcts can be either True or False  
+ True and False are some of the [Python constants _bultin_](https://docs.python.org/3/library/constants.html)  

<table class="docutils align-default">
<colgroup>
<col style="width: 25%" />
<col style="width: 62%" />
<col style="width: 13%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">or</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>y</em>, else
<em>x</em></p></td>
<td><p>(1)</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">and</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>x</em>, else
<em>y</em></p></td>
<td><p>(2)</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">not</span> <span class="pre">x</span></code></p></td>
<td><p>if <em>x</em> is false, then <code class="docutils literal notranslate"><span class="pre">True</span></code>,
else <code class="docutils literal notranslate"><span class="pre">False</span></code></p></td>
<td><p>(3)</p></td>
</tr>
</tbody>
</table>

In [112]:
'RENATO'.isupper()

True

In [113]:
b1 = True

In [114]:
b2 = False

In [115]:
type(b2)

bool

In [116]:
print(b1 == b2)

False

In [117]:
print(2 == 5)

False

In [118]:
type(2 == 7)

bool

In [119]:
print(not "something")
print(not [0,2,3])

False
False

In [120]:
print(not "")
print(not [])

True
True

In [121]:
4 != 5

True

In [122]:
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8):
    print('Right')
    
if x == 4095:
    print('Nice')
else:
    print('Good')
print('New Block')

Good
New Block

## Type [Sets](https://medium.com/@rkp0432/set-type-and-frozenset-in-python-3-all-functions-and-examples-a5754e9f2ab6):
+ Set objects in Python are sets of unique itens (no repetition).  
+ Sets are muttable, and _frozensets_ are immutable

In [123]:
c1 = {1,2,3,3,3,3,3,4}

In [124]:
print(c1)

{1, 2, 3, 4}

In [125]:
type(c1)

set

In [126]:
dir(c1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [127]:
c2 = set([1,2,3,4,1,2])

In [128]:
print(c2)

{1, 2, 3, 4}

In [129]:
l3 = [1,2,3,'string']

In [130]:
c3 = set(l3)

In [131]:
print(c3)

{1, 2, 3, 'string'}

In [132]:
c4 = c3.union([9,8,7])

In [133]:
print(c4)

{1, 2, 3, 7, 8, 9, 'string'}

In [134]:
print(c4.intersection(c2))

{1, 2, 3}

In [135]:
l3 = list(c3)
print(l3)

[1, 2, 3, 'string']

In [136]:
l5 = 'a nice string with lots of characters'
c5 = set(l5)
print(c5)

{'w', 'l', 'r', 's', 'c', 'g', 'f', ' ', 't', 'h', 'o', 'a', 'i', 'e', 'n'}

In [137]:
print(len(l5))
print(len(set(l5)))

37
15

In [138]:
t1 = '''
The Road Not Taken
By Robert Frost

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.'''

In [139]:
print(t1)

The Road Not Taken
By Robert Frost

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.

In [140]:
lwords = t1.split()
lwords[0:30]

['The',
 'Road',
 'Not',
 'Taken',
 'By',
 'Robert',
 'Frost',
 'Two',
 'roads',
 'diverged',
 'in',
 'a',
 'yellow',
 'wood,',
 'And',
 'sorry',
 'I',
 'could',
 'not',
 'travel',
 'both',
 'And',
 'be',
 'one',
 'traveler,',
 'long',
 'I',
 'stood',
 'And',
 'looked']

In [141]:
unique_words = set(lwords)

In [142]:
print(len(lwords))
print(len(unique_words))

151
107

In [143]:
'__'.join(lwords)

'The__Road__Not__Taken__By__Robert__Frost__Two__roads__diverged__in__a__yellow__wood,__And__sorry__I__could__not__travel__both__And__be__one__traveler,__long__I__stood__And__looked__down__one__as__far__as__I__could__To__where__it__bent__in__the__undergrowth;__Then__took__the__other,__as__just__as__fair,__And__having__perhaps__the__better__claim,__Because__it__was__grassy__and__wanted__wear;__Though__as__for__that__the__passing__there__Had__worn__them__really__about__the__same,__And__both__that__morning__equally__lay__In__leaves__no__step__had__trodden__black.__Oh,__I__kept__the__first__for__another__day!__Yet__knowing__how__way__leads__on__to__way,__I__doubted__if__I__should__ever__come__back.__I__shall__be__telling__this__with__a__sigh__Somewhere__ages__and__ages__hence:__Two__roads__diverged__in__a__wood,__and__I—__I__took__the__one__less__traveled__by,__And__that__has__made__all__the__difference.'

## Type [Frozen Sets](https://realpython.com/python-sets/#frozen-sets):

+ A frozenset is in all respects exactly like a set, except that a frozenset is immutable. 
+ You can perform non-modifying operations on a frozenset:

In [144]:
fs = frozenset([1,3,2])

In [145]:
type(fs)

frozenset

In [146]:
dir(fs)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

## Type Dict:
+ Dictionaires are sequences of pairs key:values  
+ They are created with curly braces, commas and colons e.g.{key1: value1, key2: value2}  
+ Keys must be immutable types (strings, numbers, tuples), values can be of any type

In [147]:
d1 = {'key1':[1,2,3],'key2':2,'key3':4,45:26, 'key4':23{
print(d1)

{'key1': [1, 2, 3], 'key2': 2, 'key3': 4, 45: 26, 'key4': 23}

In [148]:
type(d1)

dict

In [149]:
dir(d1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [150]:
d1.update({2:3})
print(d1)

{'key1': [1, 2, 3], 'key2': 2, 'key3': 4, 45: 26, 'key4': 23, 2: 3}

In [151]:
record = {'Weight':73, 'Height':183, 'Age':44, 'Name':'Sebastian'}

In [152]:
print(record)

{'Weight': 73, 'Height': 183, 'Age': 44, 'Name': 'Sebastian'}

In [153]:
record['Age']

44

In [154]:
grades = {'Math':{'A1':9.0, 'A2':8.0,'AS':4.0},
          'History':{'A1':9.0, 'A2':8.0,'AS':4.0},
          'Geography':{'A1':9.0, 'A2':8.0,'AS':4.0}}

print(grades)

{'Math': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}, 'History': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}, 'Geography': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [155]:
grades['Math']['A2']

8.0

In [156]:
grades.items()

dict_items([('Math', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('History', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geography', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [157]:
'A2' in grades['Math']

True

In [158]:
grades['Math'].values()

dict_values([9.0, 8.0, 4.0])

In [159]:
grades['Math']['AS'] = 10
print(grades)

{'Math': {'A1': 9.0, 'A2': 8.0, 'AS': 10}, 'History': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}, 'Geography': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [160]:
print(grades['Geography'])
print(sorted(grades['Geography']))
print(sorted(grades['Geography'].items()))
print(sorted(grades['Geography'].items(), key = lambda x:x[1]))

{'A1': 9.0, 'A2': 8.0, 'AS': 4.0}
['A1', 'A2', 'AS']
[('A1', 9.0), ('A2', 8.0), ('AS', 4.0)]
[('AS', 4.0), ('A2', 8.0), ('A1', 9.0)]

In [161]:
dic1 = {}
print(dic1)

{}

In [162]:
dic1['element1'] = 23
print(dic1)

{'element1': 23}

In [163]:
dic1.update({'one':2})
print(dic1)

{'element1': 23, 'one': 2}

In [164]:
dic1['one'] = 1
print(dic1)

{'element1': 23, 'one': 1}

## Type Tuple:  
+ Tuples, as lists, are ordered sequences of items.  
+ The great difference is that tuples are immutable - after created, their elements cannot be modified without re-creation

In [165]:
t1 = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [166]:
type(t1)

tuple

In [167]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [168]:
t1[0]

1

In [169]:
t1[5]

4

In [170]:
t1[3:6]

(4, 7, 4)

In [171]:
l1 = [1,2,3]

In [172]:
t2 = tuple(l1)
print(t2)

(1, 2, 3)

In [173]:
l2 = list(t2)
print(l2)

[1, 2, 3]

In [174]:
d5 = {(1,2):'tuple as a key'}
d5

{(1, 2): 'tuple as a key'}

In [175]:
t3 = (2,4,7,2,2,2,2)

In [176]:
t3.count(2)

5

In [177]:
a = [1,2]
t4 = (a,a,a,a,a)
l5 = [a,a,a,a,a]
print(t4)
print(l5)

([1, 2], [1, 2], [1, 2], [1, 2], [1, 2])
[[1, 2], [1, 2], [1, 2], [1, 2], [1, 2]]

In [178]:
fake_tuple = (1)
proper_tuple = (1,)
print(type(fake_tuple))
print(type(proper_tuple))

<class 'int'>
<class 'tuple'>

#### Packing and unpacking tuples

In [179]:
t6 = 2, 4
print(t6)

(2, 4)

In [180]:
x, y = 10, 19 
print(y)
print(x)

19
10

In [181]:
t7 = (2,3,4)
x,y,z = t7
print(t7)
print(x)
print(y)
print(z)

(2, 3, 4)
2
3
4

In [182]:
x, *y, z = (1,2,3,4)
print(x)
print(y)
print(z)

1
[2, 3]
4

In [183]:
x, y, *z = (1,2,3,4)
print(x)
print(y)
print(z)

1
2
[3, 4]

In [184]:
# Swapping values
print(x)
print(y)

x,y = y,x

print(x)
print(y)

1
2
2
1

## Type Range

+ Range generates an immutable sequence of numbers  
+ Ranges can take 1 to 3 integer parameters: begin, end and step

In [185]:
print(range(15))

range(0, 15)

In [186]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [187]:
range(3,7)

range(3, 7)

In [188]:
list(range(3,7))

[3, 4, 5, 6]

In [189]:
range(0,10,2)

range(0, 10, 2)

In [190]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

As with other indexes in Python, the result does not include the second index.

In [191]:
list(range(1,13))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [192]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

The third parameter sets the step. The Default value is 1.

In [193]:
gen50 = range(5,51,5)

In [194]:
gen50

range(5, 51, 5)

In [195]:
unfold_gen50 = list(gen50)
unfold_gen50

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [196]:
range(9**12)

range(0, 282429536481)

### [Understand the Concepts of Mutable and Immutable Objects](https://medium.com/techtofreedom/5-levels-of-understanding-the-mutability-of-python-objects-a5ed839d6c24)

Simply put, the mutable objects can be changed after creation. The immutable objects cannot be changed after creation.

In [197]:
leaders = ["Elon Mask"]
print(leaders, id(leaders))
# ['Elon Mask'] 140700341254336
leaders.append("Yang Zhou")
print(leaders, id(leaders))  # Same id
# ['Elon Mask', 'Yang Zhou'] 140700341254336

['Elon Mask'] 140059834026560
['Elon Mask', 'Yang Zhou'] 140059834026560

As the above example shown, if we changed the leaders list, its content will be changed but its identity won’t be changed. Because the list object in Python is mutable, we can do the in-place modifications on it.

In [198]:
Leader = "yang"
print(Leader, id(Leader))
# yang 139713044786288

Leader.capitalize()
print(Leader, id(Leader))  # the Leader itself wasn't changed
# yang 139713044786288

Cap_Leader = Leader.capitalize()
print(Cap_Leader, id(Cap_Leader))
# Yang 139713044502768

yang 140059852775792
yang 140059852775792
Yang 140059760488304

As the above example shown, if we changed the leaders list, its content will be changed but its identity won’t be changed. Because the list object in Python is mutable, we can do the in-place modifications on it.

### Know the Mutability of Built-In Objects

Being familiar with the mutability of built-in objects is the fundamental ability for a Python programmer. The following is a brief checklist of it:

![](../Data/Figs/immutable.png)

### Understand What Happens Under the Hood

Understanding the basic concepts is not enough for senior developers. We should be aware of what happens under the hood for totally knowing its mechanism.  
In fact, everything in Python is an object and the assignment operation is just binding a name to an object. This ground truth is very significant to understand the following example

In [199]:
leaders = ["Elon Mask"]
print(leaders, id(leaders))
# ['Elon Mask'] 140009549940864
leaders.append("Yang Zhou")
print(leaders, id(leaders))  # Same id
# ['Elon Mask', 'Yang Zhou'] 140009549940864
leaders = ["Mark Zuckerberg"]
print(leaders, id(leaders))  # the id changed!
# ['Mark Zuckerberg'] 140009549461184

['Elon Mask'] 140059761416704
['Elon Mask', 'Yang Zhou'] 140059761416704
['Mark Zuckerberg'] 140059834026560

The above example could be confusing:  
+ The leaders is a mutable list, and we can change its value anyway.  
+ However, why the id, which is the identity of the object, is changed after the last assignment? Why this operation does not get the original list?  

If we totally understand the assignment operation of Python, the answer is simple and obvious:  
The ["Mark Zuckerberg"] is another list object, and the name leaders will be bound to this object when we run leaders = ["Mark Zuckerberg"].

Due to the name leaders has already represented another object, it’s id is different.  
Let’s see a more complex example to deepen our understanding:

In [200]:
A = ["Elon", "Yang"]
B = A
print(B, A)
print(id(B) == id(A))
# ['Elon', 'Yang'] ['Elon', 'Yang']
# True

B.append("Mark")
print(B, A)
print(id(B) == id(A))
# ['Elon', 'Yang', 'Mark'] ['Elon', 'Yang', 'Mark']
# True

B = ["Mark"]
print(B, A)
print(id(B) == id(A))
# ['Mark'] ['Elon', 'Yang', 'Mark']
# False

['Elon', 'Yang'] ['Elon', 'Yang']
True
['Elon', 'Yang', 'Mark'] ['Elon', 'Yang', 'Mark']
True
['Mark'] ['Elon', 'Yang', 'Mark']
False

As the above example shown, when B and A are bound to the same object, changing B will affect A as well. When B is bound to another object, changing B won’t affect A at all.

### Know How Objects are Passed to Functions

There is a classic Python interview question: How a Python function evaluates its arguments? Some answers seem like:  

+ Mutable objects are call-by-reference and immutable objects are call-by-value.  
+ All Python objects are call-by-reference. Certain objects act like call-by-value is because of their immutability.  
+ Python is neither call-by-value nor call-by-reference. It is call-by-sharing (also known as “call-by-object” or “call-by-object-sharing”).  

To some extent, all the three answers are correct. But if we strictly state it, the third answer is the 100% correct answer. As explained on Wikipedia, the “call-by-sharing” is not as commonly used as “call-by-reference” and “call-by-value”, so it’s okay if we don’t use this special terminology.  

If I am an interviewer, it doesn’t matter how the interviewee says the terminology. It does matter how he or she explains the reason.  
Why immutable objects are not call-by-value?  

As the following example code, when we change the value of argument val, the b won’t be changed. It acts like call-by-value.

In [201]:
def updateNumber(val):
    val += 10
    print(val)
b = 5
updateNumber(b)  
# 15
print(b)  
# 5

15
5

But check out the following code:

In [202]:
def updateNumber(val):
    print(id(val)) # 10055680

b = 5
print(id(b))  # 10055680
updateNumber(b)  # 10055680

9789120
9789120

The id of val is identical to the id of b. If the val argument is all-by-value, this is impossible.  

How can we explain the above examples?  
We should review the ground truth about Python objects and assignment operations again:  
> Everything in Python is an object and the assignment operation is just binding a name to an object.  

Therefore, in the example2.py, the val is another name besides b which is bound to the integer object 5. The two names have identical ids since they are bound to the same object. If we change the integer, because of its immutability, a new integer object will be created and the val will be bound to it.
Why mutable objects are not call-by-reference?

We may think mutable objects are call-by-reference if we see an example like following:

In [203]:
L = [1, 2, 3]

def func(vals):
    vals.append(4)
    print(vals)

func(L)
# [1, 2, 3, 4]
print(L)
# [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 2, 3, 4]

As demonstrated above, appending a new value to the val will affect the L as well. It acts like call-by-reference.

Unfortunately, a counterexample can still be indicated here:

In [204]:
L = [1, 2, 3]

def func(vals):
    vals = [7, 8, 9]
    print(vals)

func(L)
# [7, 8, 9]
print(L)
# [1, 2, 3]

[7, 8, 9]
[1, 2, 3]

As the above example shown, the L didn’t change even if the val was changed. If it’s call-by-reference, this situation is hard to explain.  
The ground truth mentioned previously can help us again:  
For example 4, after the vals = [7,8,9] was executed, the name vals had been bound to another list object — [7,8,9]. Since the vals and L were bound to different list objects, the modification of vals would not affect L anymore.
For example 3, because of the mutability of the list object, the vals.append() method just executed an in-place change of the original list object. There was no other new objects. The vals and L were bound to the same object all the time, so the modification of vals would affect L.

#### Conclusion

The terminologies like call-by-value and call-by-reference are commonly used in C, C++ and other similar programming languages. However, values in Python are based on objects rather than primitive types, i.e., that all values are “boxed”. Due to this fact, using call-by-value or call-by-reference to describe Python’s parameter passing mechanism is not precise enough. The correct jargon is “call-by-sharing”.

### Be Aware of the Mutability of Nested Objects

Last but not least, we should know that the mutability of nested objects depends on each object itself. For instance:

In [205]:
tp = ([1, 2, 3], 4, 5)
tp[0].append(4)
print(tp)
# ([1, 2, 3, 4], 4, 5)

([1, 2, 3, 4], 4, 5)

As stated above, the tp is a tuple which is immutable, but the first element of tp is a list that is mutable. Therefore, we can modify the first element of tp even if it’s an immutable object.

#### Conclusion

The mutability of objects is one of the core concepts of Python. To totally understand it, we must know the ground truth of Python objects:

> Everything in Python is an object and the assignment operation is just binding a name to an object.

[Ref. 1](https://towardsdatascience.com/mutability-immutability-in-python-b698bc592cbc)  
[Ref. 2](https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747)