# Introduction to Python  

## [Functional Programming](https://docs.python.org/3/howto/functional.html) with Python:

+ #### _lambda_ functions  
+ #### _zip_  
+ #### _map_  
+ #### _filter_  
+ #### _reduce_

In [1]:
import time

## lambda Functions

When writing functional-style programs, you’ll often need little functions that act as predicates or that combine elements in some way. If there’s a Python built-in or a module function that’s suitable, you don’t need to define a new function at all, as in these examples:

    stripped_lines = [line.strip() for line in lines]
    existing_files = filter(os.path.exists, file_list)

If the function you need doesn’t exist, you need to write it.  
One way to write small functions is to use the _lambda_ expression. lambda takes a number of parameters and an expression combining these parameters, and creates an anonymous function that returns the value of the expression:

The pattern is:  

    lambda < variables > : operation(< variables >)

#### Examples

In [1]:
def adder(x, y):
    return x + y

In [7]:
%%timeit

adder(3,4)

78.6 ns ± 1.42 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [4]:
adder_lambda = lambda x, y: x+y

In [8]:
%%timeit

adder_lambda(3,4)

82.7 ns ± 0.878 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [9]:
general_adder = lambda *x : sum(x)

In [10]:
general_adder(2,3,4,5)

14

In [11]:
square = lambda x: x**2

In [12]:
square(2)

4

In [13]:
def print_assign(name, value):
    return name + '=' + str(value)

In [14]:
print_assign = lambda name, value: name + '=' + str(value)

In [15]:
print_assign('year',2020)

'year=2020'

In [16]:
even = lambda x:True if x%2==0 else False

In [17]:
print(even(17))
print(even(16))

False
True

#### Dictionary of functions

In [18]:
power = {'square': lambda x:x**2, 
         'cube': lambda x:x**3,
         'fourth': lambda x:x**4
        }

In [20]:
power

{'square': <function __main__.<lambda>(x)>,
 'cube': <function __main__.<lambda>(x)>,
 'fourth': <function __main__.<lambda>(x)>}

In [21]:
type(power["cube"])

function

In [22]:
print(power['cube'](9))

print(power['square'](3))

print(power['fourth'](7))

729
9
2401

In [26]:
funcs = [lambda x:x**2, lambda x:x-1]
print(funcs)
[func(x) for func in funcs for x in [1,2,3]]

[<function <lambda> at 0x7f46dc625560>, <function <lambda> at 0x7f46dc6258c0>]

[1, 4, 9, 0, 1, 2]

## Functional Tools: _zip_, _filter_, _map_ , _reduce_

## [_zip_](https://medium.com/techtofreedom/7-levels-of-using-the-zip-function-in-python-a4bd22ee8bcd)

+ #### _zip_ function returns a _zip_ object (which is an iterator) that will aggregate elements from two or more iterables.  
+ #### You can use the resulting iterator to solve common tasks, like creating dictionaries.

In [26]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
z = zip(sq1,sq2)
print(z)

<zip object at 0x7f46a7483550>

In [27]:
next(z)
#z.__next__()

(1, 'a')

In [28]:
z = zip(sq1,sq2)
for t in z:
    print(t)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')
(6, 'f')

In [38]:
z = zip(sq1,sq2)
list(z)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [39]:
names = ['Leticia', 'Ana', 'Raquel']
grades = [8,9,10]
dic_grades = dict(zip(names,grades))
dic_grades

{'Leticia': 8, 'Ana': 9, 'Raquel': 10}

#### Zip trims to the length of the smaller sequence

In [18]:
students = ['Diogo','Rafael','Gustavo','Deborah', 'Extra Student']
grades = [0,1,2,3]
new_dict_grades = dict(zip(students,grades))
print(new_dict_grades)

{'Diogo': 0, 'Rafael': 1, 'Gustavo': 2, 'Deborah': 3}

In [41]:
list1 = list(range(11))
list2 = list(range(1,30,2))
list3 = list(range(1,100,5))
print(list1)
print(list2)
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [83]:
zipped = list(zip(list1, list2, list3))
print(zipped)

[(0, 1, 1), (1, 3, 6), (2, 5, 11), (3, 7, 16), (4, 9, 21), (5, 11, 26), (6, 13, 31), (7, 15, 36), (8, 17, 41), (9, 19, 46), (10, 21, 51)]

#### For unequal length sequences we can use zip_logest from itertools

In [4]:
from itertools import zip_longest

id = [1, 2]
leaders = ['Elon Mask', 'Tim Cook', 'Bill Gates', 'Yang Zhou']

In [5]:
long_record = zip_longest(id, leaders)
print(list(long_record))

[(1, 'Elon Mask'), (2, 'Tim Cook'), (None, 'Bill Gates'), (None, 'Yang Zhou')]

In [6]:
long_record_2 = zip_longest(id, leaders, fillvalue='Top')
print(list(long_record_2))

[(1, 'Elon Mask'), (2, 'Tim Cook'), ('Top', 'Bill Gates'), ('Top', 'Yang Zhou')]

#### How to reverse a zip command?

In [69]:
t1 = ((1,2),(3,4),(4,5))
print(t1)
print(*t1)

((1, 2), (3, 4), (4, 5))

In [82]:
print(*zipped)

(0, 1, 1) (1, 3, 6) (2, 5, 11) (3, 7, 16) (4, 9, 21) (5, 11, 26) (6, 13, 31) (7, 15, 36) (8, 17, 41) (9, 19, 46) (10, 21, 51)

In [47]:
unzipped = (zip(*zipped))
list(unzipped)

[(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10),
 (1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21),
 (1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51)]

#### Using Zip with comprehensions

In [50]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
d3 = {x.upper():y for y,x in zip(sq1,sq2)}
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [51]:
s1 = [x.lower() for x in d3.keys()]
s2 = [x for x in d3.values()]
print(s1)
print(s2)
d4 = {k:v for k,v in zip(s1,s2)}
d4

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6]

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [25]:
sq1 = [1,2,3,4,5,6,7,8]
sq2 = ['a','b','c','d','e','f']
sq3 = ['w','e','r','y']
z4 = zip(sq1,sq2,sq3)
print(list(z4))

[(1, 'a', 'w'), (2, 'b', 'e'), (3, 'c', 'r'), (4, 'd', 'y')]

#### Using zip tp transpose a matrix

In [2]:
matrix = [[1, 2, 3], [1, 2, 3]]
matrix_T = [list(i) for i in zip(*matrix)]
print(matrix_T)

[[1, 1], [2, 2], [3, 3]]

## _map_

+ #### _map_ function returns a map object (which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)  
+ #### Maps are similar to [list comprehensions](https://stackoverflow.com/questions/1247486/list-comprehension-vs-map) but they create generators instead of lists

In [53]:
def my_function(x):
    return x**10

In [54]:
print(my_function(4))
print(my_function(10))

1048576
10000000000

In [55]:
seq6 = [3,7,9,1,5,7]

In [85]:
%%time

results = map(my_function, seq6)

print(list(results))
print(type(results))

[59049, 282475249, 3486784401, 1, 9765625, 282475249]
<class 'map'>
CPU times: user 512 µs, sys: 0 ns, total: 512 µs
Wall time: 270 µs

In [86]:
%%time

results = [my_function(x) for x in seq6]

print(results)
print(type(results))

[59049, 282475249, 3486784401, 1, 9765625, 282475249]
<class 'list'>
CPU times: user 372 µs, sys: 0 ns, total: 372 µs
Wall time: 216 µs

In [87]:
%%time

results = map(lambda x:x**10, seq6)

print(list(results))
print(type(results))

[59049, 282475249, 3486784401, 1, 9765625, 282475249]
<class 'map'>
CPU times: user 633 µs, sys: 0 ns, total: 633 µs
Wall time: 402 µs

## _reduce_

+ #### The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list. This is a part of functools module.

In [88]:
from functools import reduce

In [94]:
seq9 = [1,2,3,4,5,6,7,8,9,10]
multiply = reduce(lambda x,y:x*y, seq9)
multiply

3628800

In [90]:
seq10 = ['a','b','c','d','e','f','g']
concatenate = reduce(lambda x,y:x.upper()+y, seq10)
concatenate

'ABCDEFg'

In [36]:
list1 = list(range(11))
list2 = list(range(1,30,2))
list3 = list(range(1,100,5))

In [95]:
soma = reduce(lambda x,y:x+y**2,list1)
soma

385

In [96]:
soma2 = reduce(lambda x,y:x+y**2,list2)
soma2

4495

In [97]:
soma3 = reduce(lambda x,y:x+y**2,list3)
soma3

63670

In [98]:
import random
seq = [random.random() for x in range(10)]
print(seq)

[0.3164075131513564, 0.884567334784409, 0.9142504575092464, 0.6994761960912965, 0.0590453936212596, 0.45013360545153347, 0.5937569416081616, 0.3455401815537914, 0.5898892899783473, 0.8749676480882057]

In [99]:
max(seq)

0.9142504575092464

In [100]:
compara = lambda x,y: x if x>=y else y
reduce(compara,seq)

0.9142504575092464

## _filter_

+ #### The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not. This function must return a boolean value.

In [101]:
my_string = 'aAbRmmmTTTBfgHHrTEB'

In [102]:
resp = filter(lambda x:x.islower(), my_string)
print(list(resp))
print(type(resp))

['a', 'b', 'm', 'm', 'm', 'f', 'g', 'r']
<class 'filter'>

In [103]:
resp = filter(lambda x: not x.islower(), my_string)
print(list(resp))
print(type(resp))

['A', 'R', 'T', 'T', 'T', 'B', 'H', 'H', 'T', 'E', 'B']
<class 'filter'>

In [104]:
resp = filter(lambda x:x.isupper(), my_string)
print(list(resp))
print(type(resp))

['A', 'R', 'T', 'T', 'T', 'B', 'H', 'H', 'T', 'E', 'B']
<class 'filter'>

In [114]:
list1 = [random.random() for x in range(10)]
bigger_than_dot4 = filter(lambda x:x>0.4,list1)
list(bigger_than_dot4)

[0.4933665026342463,
 0.5452572345679209,
 0.9457092223731333,
 0.9322593404797879,
 0.9999951742442206]

In [115]:
simplified_genesis = '''
In the beginning God created the heaven and the earth. 
And the earth was without form, and void; and darkness 
was upon the face of the deep. And the Spirit of God 
moved upon the face of the waters. And God said, 
Let there be light: and there was light.'''

simplified_genesis.split()[0:10]

['In',
 'the',
 'beginning',
 'God',
 'created',
 'the',
 'heaven',
 'and',
 'the',
 'earth.']

In [117]:
istitle = lambda x : x.istitle()

In [121]:
print(list(filter(istitle, simplified_genesis.split())))
print(list(filter(lambda x: x.istitle(), simplified_genesis.split())))
print(list(filter(str.istitle, simplified_genesis.split())))

['In', 'God', 'And', 'And', 'Spirit', 'God', 'And', 'God', 'Let']
['In', 'God', 'And', 'And', 'Spirit', 'God', 'And', 'God', 'Let']
['In', 'God', 'And', 'And', 'Spirit', 'God', 'And', 'God', 'Let']


## Implementing the builtin generators as ordinary functions:

## _zip_:

In [124]:
def my_zip(*sequences):
    smaller = min([len(sequence) for sequence in sequences])
    for i in range(smaller):
        yield(tuple([sequence[i] for sequence in sequences]))

In [126]:
zipped = my_zip([1,2,3,5],[5,6,7],[3,2,5])
print(type(zipped))

<class 'generator'>

In [127]:
print(list(zipped))

[(1, 5, 3), (2, 6, 2), (3, 7, 5)]

## _map_:

In [129]:
## option 1 - create a generator

def my_map(func, sequence):
    for element in (sequence):
        yield(func(element))

In [145]:
## option 2 - return a generator

def my_map(func, sequence):
    mapped = (func(item) for item in sequence)
    return mapped

In [142]:
mapped = my_map(lambda x:x**2, [1,2,3,4,5])

In [143]:
type(mapped)

generator

In [144]:
print(list(mapped))

[1, 4, 9, 16, 25]

## _filter_:

In [137]:
## option 1 - create a generator

def my_filter(func_bool, sequence):
    filtered = (item for item in sequence if func_bool(item))
    for element in filtered:
        yield(element)

In [ ]:
## option 2 - return a generator

def my_filter(func_bool, sequence):
    filtered = (item for item in sequence if func_bool(item))
    return filtered

In [138]:
filtered = my_filter(lambda x:x%2==0, [1,2,3,4,5,6])

In [139]:
type(filtered)

generator

In [140]:
print(list(filtered))

[2, 4, 6]

## _range_:

In [172]:
def my_range(*args):
    start = 0
    step = 1
    
    if len(args) == 1:
        end = args[0]
    elif len(args) == 2:
        start = args[0]
        end = args[1]
    elif len(args) == 3:
        start = args[0]
        end = args[1]
        step = args[2]
    else:
        print('Too few or too many arguments')
        return
    
    while start < end:
        yield start
        start += step

In [147]:
print(list(my_range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
print(list(my_range(2,10,2)))

[2, 4, 6, 8]

## _reduce_:

In [187]:
def my_reduce(function, sequence):
    result = sequence[0]
    for i in range(len(sequence)-1):
        result = function(result,sequence[i+1])
    return result

In [188]:
my_reduce(lambda x,y:x+y, [1,2,3,4,5,6,7])

28