## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [2]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [3]:
x.replace (' ','')[27:].title()

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [4]:
d1 = {'A':'word', 'B':15, 'C':3.14, 'D':'list'{
print(d1)

{'A': 'word', 'B': 15, 'C': 3.14, 'D': 'list'}

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [20]:
h = float(input("Enter your height"))

w = float(input("Enter your weight"))


bmi = w / ((h/100)**2)

print(f"BMI is {bmi}")

Enter your height 171
Enter your weight 68.4

BMI is 23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [7]:
if bmi <= 18.5:
    print("underweight")
elif bmi <= 24.9:
    print("normal weight")
elif bmi <= 29.9:
    print("pre-obesity")
elif bmi <= 34.9:
    print("obesity class I")
elif bmi <= 39.9:
    print("obesity class II")
else:
    print("obesity class III")

underweight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [5]:
import math
m = (int(input("Enter a number:")))
fact = math.factorial(m)
print("the factorial of", m, "is", fact)

Enter a number: 4

the factorial of 4 is 24

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [2]:
num_sum=0

inputs = []
while True:
    inp = input("Insert integer: ")
    
    if inp == "-1":
        break
    inp = int(inp)
    inputs.append(inp)
    num_sum += inp

print (inputs, num_sum)

Insert integer:  4
Insert integer:  4
Insert integer:  -1

[4, 4] 8

In [ ]:
x = (int(input("Enter an integer:")))
num_sum=0
count=0

while True:
    x = (int(input("Enter an integer:")))
    print(x)
    num_sum += x
    count += 1
    print (num_sum)
    if x < -1:
        break

Enter an integer: 3
Enter an integer: 4

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [3]:
my_employee = ['Hans', 38.5, 75.56]
type(my_employee)
dir(my_employee)
total = (my_employee[1]*my_employee[2])
format_total = "{:.2f}".format(total)
print(format_total)

2909.06

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [11]:
A = 12.45
B = 14.32
C = 9.45

a = A + B
b = B + C
c = A + C
d = A / 2 * B
e = A ** 2

print(a)
print(b)
print(c)
print(d)
print(e)

26.77
23.77
21.9
89.142
155.00249999999997

    a) the area of the triangle rectangle with A as the base and C as the height.

In [12]:
s = (A + B + C) / 2

area_triangle = (s*(s-A)*(s-B)*(s-C)) ** 0.5
print('The area of the triangle is %0.2f' %area_triangle)

The area of the triangle is 58.00

    b) the area of the circle of radius C. (pi = 3.14159)

In [13]:
from math import pi
print ("The area of the circle with radius " + str(C) + " is: " + str(pi * C**2))

The area of the circle with radius 9.45 is: 280.55207794720246

    c) the area of the trapezoid that has A and B for bases and C for height.

In [14]:
area_trapezoid = ((A + B) / 2) * C
print("The area of the trapezoid is:", area_trapezoid)

Area is: 126.48825

    d) the area of the square that has side B.

In [16]:
area_square = B ** 2
print("The area of the square is:", area_square)

The area of the square is: 205.0624

    e) the area of the rectangle that has sides A and B.

In [17]:
area_rectangle = A * B
print("The area of the rectangle is:", area_rectangle)

The area of the rectangle is: 178.284

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [32]:
import cmath

a = (int(input("Enter an value a:")))
b = (int(input("Enter an value b:")))
c = (int(input("Enter an value c:")))

x = (b**2) - (4*a*c)


if x > 0:
    sol1 = (-b-cmath.sqrt(x))/(2*a)
    sol2 = (-b+cmath.sqrt(x))/(2*a)
    print("The solution are {0} and {1}".format(sol1,sol2))
else:
    print('there are no real roots')

Enter an value a: -20
Enter an value b: 3
Enter an value c: -10

there are no real roots

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [31]:
import math

coord_1 = 41.4430566, 19.3345678
x_1, y_1 = coord_1

coord_2 = 52.2296756, 14.9254481
x_2, y_2 = coord_2

d = math.sqrt(((x_1 - x_2)**2) + ((y_1 - y_2)**2))
print(d)

11.652960395542804

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [40]:
coord = 41.4430566, 19.3345678
x, y = coord


if x == 0 and y == 0:
    print('origin')
elif x==0: print('x axis')
elif y == 0: print('y axis')
elif x < 0 and y < 0: print('q3')
elif x > 0 and y < 0: print('q2')
elif x > 0 and y > 0: print('q1')
else: print('q4')

q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [2]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [6]:
codes = {"43": 'Austria', "32": 'Belgium', "359": 'Bulgaria', "385": 'Croatia', "357": 'Cyprus', "420": 'Czech Republic', "45": 'Denmark', "372": 'Estonia', "358": 'Finnland', "33": 'France', "49": 'Germany'}
my_code = input("what is your code number")
codes[my_code]

what is your code number 385

'Croatia'

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [16]:
newTuple = (-1, -2, 3, -4, 7, 6)

print("Positive Tuple Items = ", newTuple)

print("\nThe Positive Numbers in this newTuple Tuple are:")
for posnum in newTuple:
    if(posnum >= 0):
        print(posnum, end = "  ")
        
def ave_pos(posnum):
    count = 0
    sum = 0.0
    for x in newTuple:
        sum_pos = sum_pos + x
        count += 1
    return sum_pos / count

response = (ave_pos);
print(response) 
##print("{:.1f}".format(response))

Positive Tuple Items =  (-1, -2, 3, -4, 7, 6)

The Positive Numbers in this newTuple Tuple are:
3  7  6  <function ave_pos at 0x11693c310>

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [46]:
def printSquares(N):
 
    square = 0; prev_x = 0;
 
    for x in range(0, N):
         
        square = (square + x + prev_x)
 
        print(square, end = " ")
        prev_x = x
 
N = (int(input("Enter an integer:")));
printSquares(N);

Enter an integer: 6

0 1 4 9 16 25

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [3]:
num = int(input())
while num == 0:
       print("null")

        
if num > 0:
    
    if (num % 2) == 0:
        print("Positive even number")
    else:
        print("Positive odd number")       
else:
    
    if (num % 2) == 0:
        print("is Even negative".format(num))
if (num % 2) != 0:
    print("is Odd negative".format(num))

 -33

is Odd negative

In [7]:
##version 2

my_new_integer = int(input())
if my_new_integer %2 and my_new_integer > 0:
    print("even positive")
elif my_new_integer == 0:
    print ("null")
elif my_new_integer < 0 and my_new_integer %2 == 0:
    print ("even negative")
elif my_new_integer > 0 and my_new_integer %2 != 0:
    print ("odd positive")
else:
    print ("odd negative")

 -33

odd negative

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [29]:
import random
def bubblesort(a):
  i = len(a)
  while i!=0:
    j = 0
    while j!=i-1:
      if(a[j+1]<a[j]):
        temp = a[j+1]
        a[j+1] =a[j]
        a[j]=temp
      j+=1
    i-=1

a=random.sample(range(0,1000),6)
bubblesort(a)
a

[97, 281, 313, 346, 352, 377]