# Introduction to Python   

### Data Types (Solutions)

### 1 - What are the Python most common built-in data types?    
#### Give examples creating variables for each of them.

In [1]:
an_integer = 2

In [2]:
a_float = 2.5

In [3]:
a_string = 'learning python is fun'

In [4]:
list1 = [1, 2, 5, 'lists are capable of storing multiple types']

In [5]:
boolean = an_integer > a_float

### 2 - Exemplify at least 5 ways to convert data types, using the variables that were created in the previous question:

In [6]:
float(an_integer)

2.0

In [7]:
int(a_float)

2

In [8]:
list(a_string)

['l',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'f',
 'u',
 'n']

In [9]:
str(an_integer)

'2'

In [10]:
str(a_float)

'2.5'

### 3- Exemplify the use of individual or combined built-in data types to create the following data structures:  

+ A medical record  
+ A 3x3 pixel matrix in RGB format  
+ A set of geographical coordinates representing the Mayor's Office in 3 different cities

In [11]:
medical_record = {"Name":"some name", "Height": 183, "Weight": 73, "BirthDate": "08-01-2021"}

In [12]:
image1 = [[[242,255,255],[111,111,23],[254,254,254]],
         [[242,255,255],[111,111,23],[254,254,254]],
         [[242,255,255],[111,111,23],[254,254,254]]]
image1

[[[242, 255, 255], [111, 111, 23], [254, 254, 254]],
 [[242, 255, 255], [111, 111, 23], [254, 254, 254]],
 [[242, 255, 255], [111, 111, 23], [254, 254, 254]]]

In [13]:
image2 = {"red": [[242,255,255],[111,111,23],[254,254,254]],
         "green": [[242,255,255],[111,111,23],[254,254,254]],
         "blue": [[242,255,255],[111,111,23],[254,254,254]]}
image2

{'red': [[242, 255, 255], [111, 111, 23], [254, 254, 254]],
 'green': [[242, 255, 255], [111, 111, 23], [254, 254, 254]],
 'blue': [[242, 255, 255], [111, 111, 23], [254, 254, 254]]}

In [14]:
coordinates = [(-33.382523,-70.584099),(40.739582,-73.988358),(48.866081,2.316417)]

### 4- Give some examples on how to access the data in the data structures created in the previous question:

In [15]:
medical_record["Name"]

'some name'

In [16]:
image1[0]

[[242, 255, 255], [111, 111, 23], [254, 254, 254]]

In [17]:
image2["red"]

[[242, 255, 255], [111, 111, 23], [254, 254, 254]]

In [18]:
coordinates[0]

(-33.382523, -70.584099)

In [19]:
coordinates[0][0]

-33.382523

### 5- Explain with examples the differences between:  

+ Mutable and immutable types  
+ Container types  
+ Sequential types

In [20]:
#lists are mutable

list1.append('last_object')

In [21]:
list1

[1, 2, 5, 'lists are capable of storing multiple types', 'last_object']

In [22]:
# strings are immutable

a_string.capitalize()

'Learning python is fun'

In [23]:
a_string

'learning python is fun'

In [24]:
# Container types: tuple, list, set, dict

+ A sequence is the generic term for an ordered set. The most important sequential types: **string, tuple, lists**
+ Dictionaries are ordered since Python v. 3.7, but we cannnot access the elements sequentiallly.
+ Containers are any object that holds an arbitrary number of other objects (def. from Stackoverflow)

For example **sets** and **dicts** are container types, but are not sequential types

In [25]:
new_set = set([70, 52, 65, 120, 3, 1])

In [26]:
new_set

{1, 3, 52, 65, 70, 120}

In [27]:
new_set[0]  #error

TypeError: 'set' object is not subscriptable

In [28]:
new_dict = {'two':2,'four':4}

In [29]:
new_dict[0]  #error

KeyError: 0

### 6 - Exemplify primitive/method calls on variables associated with data types that:
+ Do not modify the variable and do not return values when the method is called  
+ Modify the variable but do not return values when the method is called  
+ Do not modify the variable but return values to the method call  
+ Modify the variable and return values to the method call

In [42]:
# Do not modify the variable and do not return values when the method is called

a = "a string"

value_returned = print(a)

print(value_returned)

a string
None

In [40]:
# Modify the variable but do not return values when the method is called 

list1 = []

value_returned = list1.append('variable')

print(list1)
print(value_returned)

['variable']
None

In [44]:
# Do not modify the variable but return values to the method call 
# a method in an immutable object

value_returned = a_string.upper()

print(a_string)
print(value_returned)

learning python is fun
LEARNING PYTHON IS FUN

In [45]:
# Modify the variable and return values to the method call  

list1 = ["first", "second", "third"]

print(list1)

value_returned = list1.pop()

print(list1)
print(value_returned)

['first', 'second', 'third']
['first', 'second']
third

### 7- Exemplify the use of methods for:
+ Test whether a string can be converted to an integer  
+ Test if a set is a subset of another set    
+ Concatenate two lists  
+ Count the occurrences of an element in a list

In [ ]:
# a)
string_test = '15'
print(string_test.isdigit())
type(int(string_test))

In [ ]:
# b)

subset_test = set([1,2,3])
set_test = set(range(10))
subset_test.issubset(set_test)

In [ ]:
# c) 

list_1 = [2,3, 'random_string']
list_2 = [6.8, [24,25,26]]
print(list_1)

# in-place
list_1.extend(list_2)
print(list_1)

# creating another list

list_3 = list_1 + list_2

In [ ]:
# d)

list_4 = ['VALE3', 'B3SA3', 'PETR4', 'BBAS3', 'VVAR3', 'VALE3', 'B3SA3', 'PETR4', 'BBAS3', 'VVAR3', 'VALE3', 'B3SA3', 'PETR4', 'BBAS3', 
          'VVAR3', 'VALE3', 'B3SA3', 'PETR4', 'BBAS3', 'VVAR3', 'VALE3', 'B3SA3', 'PETR4', 'BBAS3', 'VVAR3', 'VALE3', 'B3SA3', 'PETR4',
          'BBAS3', 'VALE3', 'B3SA3', 'PETR4', 'BBAS3', 'VALE3', 'B3SA3', 'PETR4', 'VALE3', 'B3SA3', 'VALE3']

list_4.count('VALE3')

### 8 - Describe, in general terms, what a programming language is, and what it is for.

+ A **computational model** is a collection of values and operations.
+ A **computation** is the application of a sequence of operations to a value to yield another value.
+ A **program** is a specification of a computation.
+ **A programming language is a notation for writing programs.**
+ The** syntax of a programming language** refers to the structure or form of programs.
+ The **semantics of a programming language** describe the relationship between a program and the model of computation.
+ The **pragmatics of a programming language** describe the degree of success with which a programming language meets its goals both in its faithfulness to the underlying model of computation and in its utility for human programmers.


Aaby, Anthony A. "Introduction to programming languages." Computer Science Department, Walla Walla College(1996).