# Introduction to Python   

### Function Exercises  (Solutions)

#### 1) Write a function that takes an integer minutes and converts it to seconds. <font color='green'>(EASY)</font>

In [2]:
def minutes_to_seconds(minutes):
    secs = minutes*60
    return secs

In [3]:
minutes_to_seconds(15)

900

#### 2) Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM. The input is a string!  

(do not use datetime module)

In [4]:
def date_formatting(string_date):
    date_list = string_date.split('/')
    date_list.reverse()
    output = ''.join(date_list)
    return output

In [5]:
date_formatting('09/22/2020')

'20202209'

#### 3) A typical car can hold four passengers and one driver, allowing five people to travel around. Given n number of people, `return` how many cars are needed to seat everyone comfortably.

In [6]:
def car(numeric):
    if numeric % 5 == 0:
        return numeric/5
    else:
        return numeric//5 + 1
        #return int(numeric/5) + 1

In [7]:
print(car(19))
print(car(21))

4
5

#### 4) Create a function that replaces all the vowels in a string with the character '#'.

In [2]:
def hashtag_vowels(a_string):
    vowels = 'aieou' + 'aieou'.upper()
    for i in vowels:
        a_string = a_string.replace(i,'#')
    return a_string

In [3]:
hashtag_vowels("I've had the time of my life")

"#'v# h#d th# t#m# #f my l#f#"

#### 5) Write a function that inverts the keys and values of a dictionary.

In [13]:
def invert_keys_values(dictionary):
    dictionary2 = dict()
    for i,j in dictionary.items():
        dictionary2[j] = i 
    return dictionary2

In [14]:
invert_keys_values({'a':1,'b':2})

{1: 'a', 2: 'b'}

#### 6) Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [15]:
#1 Version

def len_string(list_string):
    dict_strings = dict()
    a_list = []

    # creating a dictionary with the word:len(word)
    for i in list_string:
        dict_strings[i] = len(i)
    
    # sorting it
    for j in sorted(dict_strings.items(), key = lambda x:x[1]):
      a_list.append(j[0])

    return a_list

In [16]:
len_string(['1','999999999','666666','333'])

['1', '333', '666666', '999999999']

In [9]:
#2 Version

def len_string2(list_string):
    list_string.sort(key=lambda x:len(x))
    return list_string

In [19]:
len_string2(['1','999999999','666666','333'])

['1', '333', '666666', '999999999']

#### 7) Create a function that receives two list as parameters, and returns True if the first list is a subset of the second, or False otherwise. Do not use sets.

In [10]:
def subset_list(first_list,second_list):
    a = []
    second_list_copy = second_list.copy()
    for i in first_list:
        if i in second_list:
            a.append(i)
            try:
                second_list_copy.remove(i)
            except:
                return False  
    print(a)    
    if a == first_list:
        return True
    else:
        return False

In [11]:
subset_list([1,2,3], [1,2,3,4,5,6])

[1, 2, 3]

True

#### 8) Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

In [12]:
def fatorial(integer):
    a = 1
    for i in range(1,integer+1):
        a *= i #a = a*1
    return a

In [21]:
fatorial(0)

1

In [22]:
fatorial(5)

120

#### 9) Create a function that takes a number as an argument and returns how many times it is multiple of 3.

In [13]:
def multiple_3(integer):
    count_times = 0
    while integer % 3 == 0:
        integer /= 3 
        count_times += 1
    return count_times

In [24]:
multiple_3(3*3*3*3*4)

4

#### 10) Create a function that sorts a list and removes all duplicate items from it. (Don't use 'set')

In [25]:
def sort_and_remove_duplicate(a_list):
    new_list = []
    for i in a_list:
        if str(i) not in new_list:
            new_list.append(str(i))
    new_list.sort()
    return new_list

In [26]:
sort_and_remove_duplicate([9]*3+[6]*2+[1,2,3]*3)

['1', '2', '3', '6', '9']

In [27]:
sort_and_remove_duplicate(['a']*10+['b']*4+['c']*3)

['a', 'b', 'c']

#### 11) Create a function that checks if the number is even or odd

In [ ]:
def even_odd(num):
    if num %2==0:
        return 'is_even'
    else:
        return 'is_odd'

#### 12) Create a function that receives a list, an element, a position and add the element in the given position in the list. This list is going to be the output of the function.

In [14]:
def add_element_list(a_list, element, position):
    a_list.insert(position,element)
    return a_list

#### 13) Create a function that receives multiple parameters and returns a list with all the parameters

In [ ]:
def multiple_parameters(*args):
    return list(args)

#### 14) Given a string, create a function that finds every word that contains a letter given as a parameter

In [20]:
import string

print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [21]:
def find_letter(text,letter):
    
    # storing every word in a list of strings
    words = []
    for w in text.split():
        words.append(w.lower().strip(string.punctuation))
    
    # storing only the words that contains the letter
    chosen_words = []
    for w in words:
        if letter in w:
            chosen_words.append(w)

    return chosen_words

In [22]:
a = 'A text with the letters a, b, c, d, and e'
b = 'e'

In [23]:
find_letter(a,b)

['text', 'the', 'letters', 'e']

#### 15) [Project Euler problem #17](https://projecteuler.net/index.php?section=problems&id=17)  

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.
If all the numbers from 1 to 1000 (one thousand, inclusive) were written out in words, how many letters would be used?

NOTE: Do not count spaces or hyphens. For example, the number 342 (three hundred and forty-two) contains 23 letters and the number 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

Hint: Create a function (or a set of functions) that receives an integer and returns it in "written_form".

Example:  

    print(written_number(234))  
    > 'two hundred and thirty-four'

In [61]:
def written_number(n):
    digits_written_nums =  {0: '',1: 'one',2: 'two',3: 'three', 4: 'four', 5: 'five', 6: 'six',7: 'seven',8: 'eight',9: 'nine',
                        10: 'ten', 11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 16: 'sixteen', 17: 'seventeen',18: 'eighteen', 19: 'nineteen',
                        20: 'twenty', 30: 'thirty', 40: 'forty', 50: 'fifty', 60: 'sixty', 70: 'seventy', 80: 'eighty', 90: 'ninety'}
    
    # empty string
    written_num =  ''

    # decomposing the number!

    # hundred
    if n >= 100:
        written_num  =  written_num + digits_written_nums[n//100]
        written_num  = written_num +  " hundred "
        # here n is replaced to rest of n/100
        n = n%100
        if n is not 0:
            written_num  =  written_num + 'and '

    # hundred + >20
    if n > 20:
        written_num  = written_num + digits_written_nums[n-n%10]
        written_num  = written_num + ' '
        written_num  = written_num +  digits_written_nums[n%10]

    # hundred + <20
    # elif is required because if n>20, this block is not necessa
    elif n <= 20:
        written_num  +=  digits_written_nums[n]

    # Return the number as string
    return written_num

In [65]:
def count_characters(a_string):
    a_string = a_string.replace(' ','')
    return(len(a_string))

In [66]:
total = 0
for num in range(1,1000):
    total += count_characters(written_number(num))
print(total)

21113

#### 16) [Project Euler problem #19](https://projecteuler.net/index.php?section=problems&id=1)  

"Counting Sundays"
- 1 Jan 1900 was a Monday. 
- Thirty days has September,
April, June and November.
- All the rest have thirty-one,
- Saving February alone, which has twenty-eight, rain or shine.
- And on leap years, twenty-nine.
- A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.


How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

Hint: Use OrderedDict

In [24]:
from collections import OrderedDict

In [26]:
dict_days = OrderedDict({ "January": 31, 
                         "February" : 28, 
                         "March" : 31, 
                         "April" : 30, 
                         "May" : 31, 
                         "June" : 30, 
                         "July" : 31, 
                         "August" : 31, 
                         "September" : 30, 
                         "October" : 31, 
                         "November" : 30, 
                         "December" : 31})

In [31]:
day = 1
sundays = 0
for i in range(1900,2001):
    for j in dict_days.keys():
        if int(str(i)[2:]) % 4 == 0 and j == 'February':
            day += 29
            if i > 1900 and day % 7 == 0:
                sundays += 1
        else:
            day += dict_days[j]
            if i > 1900 and day % 7 == 0:
                sundays += 1

In [32]:
sundays

171