## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [2]:
answer = x[x.find("DiCh"):].replace(" ", "").capitalize()
print(answer)

Dichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [3]:
A, B, C, D, = "word", 15, 3.14, "list"
print(A,B,C,D,sep=" ")
print(f'{A} {B} {C} {D}')

word 15 3.14 list
word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [14]:
x = input("enter weight and size separated by space")
w, h = float(x.split()[0]), float(x.split()[1])
BMI = w/h**2
print(BMI)

enter weight and size separated by space68.4 1.71
23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [15]:
if BMI <= 18.5:
    print("underweight")
elif BMI <= 24.9:
    print("normal weight")
elif BMI <= 29.9:
    print("pre-obesity")
elif BMI <= 34.9:
    print("Obesity class I")
elif BMI <= 39.9:
    print("Obesity class II")
else:
    print("Obesity class III")

normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [6]:
y = input("enter a number:   ")
factorial = 1
i = 0
while i < int(y):
    factorial *= (i+1)
    i +=1
print(factorial)

enter a number:   8
40320

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [11]:
summe = 0
inp = 0
while inp != (-1):
    inp = int(input("enter a number:   "))
    if inp == (-1):
        break
    summe += inp
    
print(summe)

enter a number:   4
enter a number:   5
enter a number:   6
enter a number:   7
enter a number:   -1
22

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [8]:
data = input("enter first name, amount of hours worked and salary per hour separated by commas: ")
data = [el.strip() for el in data.split(",")]
salary = round(float(data[1])*float(data[2]), 2)
print(f"{data[0]} receives {salary} €")

enter first name, amount of hours worked and salary per hour separated by commas: Bernhard, 100.1234, 25
Bernhard receives 2503.09 €

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [14]:
A = input("A: ")
B = input("B: ")
C = input("C: ")
A=float(A)
B=float(B)
C=float(C)

A: 1
B: 2
C: 3

    a) the area of the triangle rectangle with A as the base and C as the height.

In [15]:
area = A*C/2
print(area)

1.5

    b) the area of the circle of radius C. (pi = 3.14159)

In [16]:
pi = 3.14159
area = C**2 * pi
print(area)

28.27431

    c) the area of the trapezoid that has A and B for bases and C for height.

In [19]:
area = min(A, B)*C + (max(A, B) - min(A, B))*C/2
print(area)

4.5

    d) the area of the square that has side B.

In [21]:
area = B**2
print(area)

4.0

    e) the area of the rectangle that has sides A and B.

In [23]:
area = A * B
print(area)

2.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [32]:
a = float(input("a= "))
b = float(input("b= "))
c = float(input("c= "))

x1 = (-b + pow(b**2 - 4 * a * c, 0.5))/(2 * a)
x2 = (-b - pow(b**2 - 4 * a * c, 0.5))/(2 * a)

if type(x1) == complex:
    print("There are no real roots")
else:
    print(f"x1 = {x1}")
    print(f"x2 = {x2}")

a= 1
b= -5
c= 0
x1 = 5.0
x2 = 0.0

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

'you can type anything'

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [9]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.